.footer__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.call {
    padding: 15px 35px;
    color: #ffffff;
    background-color: #000;
    border-radius: 10px;
}

.call:hover {
    border: 1px solid #000;
    background-color: #ffffff;
}